[submodule "js/MathJax"]
	path = js/MathJax
	url = https://github.com/mathjax/MathJax.git
[submodule "js/Showdown"]
	path = js/Showdown
	url = https://github.com/showdownjs/showdown.git
[submodule "css/pubcss"]
	path = css/pubcss
	url = https://github.com/thomaspark/pubcss.git
[submodule "js/download"]
	path = js/download
	url = https://github.com/rndme/download.git
[submodule "js/jszip"]
	path = js/jszip
	url = https://github.com/stuk/jszip/
